ul,p{
  margin : 0;
  padding : 0;
}

a{
  text-decoration: none;
}

.header{
  display: flex;
  align-items: center;

  height: 5%;
  background-color: grey;

  .left-side-header{
    display: flex;
    align-items: center;
    flex: 0.5;

    .appName{
        margin-left: 5%;
        a{
          color: white;
        }
      }
  
    .menu-burger-icon{
      margin-left: 2%;
      color:white;
      cursor: pointer;
      transition: 0.3s;
      user-select: none;
      
      &:hover{
        color:#130f40;
      }
    }
  }

  .right-side-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0.5;

    .connectionButtonsContainer,.logoutButtonContainer{
      display: flex;
      justify-content: space-around;
      margin-right: 3%;
      width: 30%;

      span{
        color:white;
        transition: 0.3s;
        &:hover{
          color:#130f40;
          cursor: pointer;
        }
      }
    }
  }
}

#sidenav {
  height: 95%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;

  ul{
    list-style: none;
    height: 100%;

    a{
      li{
        height: 5%;
        font-size: 25px;
        color: #f1f1f1;
        transition: 0.3s;

        display: flex;
        justify-content: center;
        align-items: center;

        p{
          white-space: nowrap;
        }

        &:hover{
          background-color: #222;
          p{
            color : #a3e5b6;
          }
        }
      }

    }
  }
}

#main{
  transition: margin-left .5s, width .5s;

  width: 100%;
  height: 95%;
}
